@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Gochi+Hand&family=Raleway&family=Roboto&display=swap');


.display-comp {
    width: 100%;
    max-width: 100%;
    height: 40%;
    background-color: rgb(6, 6, 54);
    border-radius: 20px 20px 0 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.display-comp input {
    width: 100%;
    padding: 0 16px 0 16px;
    font-size: 60px;
    color: #fff;
    background-color: transparent;
    border: none;
    outline: none;
    margin-bottom: 50px;
    font-family: 'DM Sans', sans-serif;

}

.display-comp input::placeholder {
    color: #fff;
    opacity: 1;
    font-family: 'DM Sans', sans-serif;
}